<div class="uk-padding">

  <table class="uk-table uk-table-hover uk-table-striped">
    <thead>
    <tr>
      <th>boock_autor</th>
      <th>boock_name</th>
      <th>categorie</th>
      <th>date-storige</th>
      <th>edition</th>
      <th>picture</th>
      <th>resume</th>
      <th>key</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let boock of itemArray  | paginate: { itemsPerPage: 8, currentPage: pageActuel }" >
      <td>{{ boock.boock_autor }}</td>
      <td>{{ boock.boock_name }}</td>
      <td>{{ boock.categorie }}</td>
      <td>{{ boock.date_storage }}</td>
      <td>{{ boock.edition }}</td>
      <td>{{ boock.picture }}</td>
      <td>{{ boock.resume }}</td>

      <td uk-margin>
        <div uk-margin>
          <div class="example-button-row">
            <button mat-raised-button color="primary" uk-toggle="target: #modal-example" (click)="editeForme(boock.$key)" >edit</button>
            <button mat-raised-button color="warn" uk-toggle="target: #modal-example1" (click)="editeForme(boock.$key)">Delete bock</button>
          </div>
        </div>
      </td>
      <div id="modal-example" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Modifier </h2>
          <fieldset class="uk-fieldset">
              <div class="uk-margin">
                <label class="">boock_autor</label>
                <input class="uk-input" type="text" placeholder="" name="boock_autor" [(ngModel)]="boock_data.boock_autor">
              </div>
              <div class="uk-margin">
                <label class="">boock_name</label>
                <input class="uk-input" type="text" placeholder="" name="boock_name"  [(ngModel)]="boock_data.boock_name">
              </div>
              <div class="uk-margin">
                <label class="">categorie</label>
                <input class="uk-input" type="text"placeholder="" name="categorie"    [(ngModel)]="boock_data.categorie">
              </div>
              <div class="uk-margin">
                <label class="">date_storage</label>
                <input class="uk-input" type="text" placeholder=" " name="date_storage" [(ngModel)]="boock_data.date_storage">
              </div>
              <div class="uk-margin">
                <label class="">edition</label>
                <input class="uk-input" type="tel"   placeholder=""     name="edition"  [(ngModel)]="boock_data.edition">
              </div>
              <div class="uk-margin">
                <label class="">picture</label>
                <input class="uk-input" type="text" placeholder="" name="picture"      [(ngModel)]="boock_data.picture">
              </div>
              <div class="uk-margin">
                <label class="">resume</label>
                <input class="uk-input" type="text" placeholder=" " name="resume"       [(ngModel)]="boock_data.resume">
              </div>
          </fieldset>
          <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Sortir</button>
            <button class="uk-button uk-button-primary uk-button-small" (click)="upBoock(boock.$key)">Enregestrer</button>        </p>
        </div>
      </div>


      <div id="modal-example1" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Confermation message</h2>
          <h2 style="color: red;text-align: center">Voulez-vous vraiment supprimer !</h2>
          <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-button-small" type="button">Sortir</button>
            <button class="uk-button uk-button-danger uk-button-small" (click)="deleteBook(boock.$key)">Supprimer</button>
          </p>
        </div>
      </div>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageActuel = $event"></pagination-controls>

</div>
<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.company.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
