<mat-card class="mat-card">
<form class="uk-form-stacked" >
  <div class="uk-container">
    <div class="uk-margin">
      <p>
        <mat-form-field appearance="legacy"  class="example-full-width">
          <input matInput type="email" placeholder="Some text..." name="email" [(ngModel)]="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="uk-container">
    <div class="uk-margin">
      <p>
        <mat-form-field appearance="legacy" class="example-full-width">
          <input matInput placeholder="password" name="password" [(ngModel)]="password" type="password" type="password">
          <mat-icon matSuffix>remove_red_eye</mat-icon>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="uk-container">
    <div class="uk-margin">
      <p>
        <mat-form-field appearance="legacy" class="example-full-width">
          <input matInput placeholder="password" name="password" [(ngModel)]="password" type="password" type="password">
          <mat-icon matSuffix>security</mat-icon>
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="uk-container">
    <div class="uk-margin">
      <div class="example-button-row">
        <button mat-mini-fab color="primary" (click)="regesterUser()">Save</button>
        <button mat-mini-fab color="default" type="reset">reset</button>
      </div>
    </div>
  </div>
  <p id="error" style="color:red"></p>
  <a routerLinkActive="active" routerLink="/login" class="uk-button uk-button-text">Direct Login</a>
</form>
  </mat-card>
