
.example-full-width {
  width: 100%;
}
.uk-form-stacked{

}
.mat-card{
  width: 500px;
  height: 500px;
  margin-left: 36%;
  margin-top: 6%;
  border-bottom-color: crimson;
  border-top-color: darkorange;
}
.example-button-row{
  margin-left: 150px;
}


