<div class="uk-child-width-1-2@s uk-grid-match container uk-animation-toggle" uk-grid>
      <div class="uk-card uk-card-default
       uk-card-hover uk-card-body uk-light uk-animation-toggle" tabindex="0" >
        <div class="uk-width-expand uk-animation-slide-top">
          <iframe name="date du jour"
                  id="date-du-jour"
                  style="width:105px;height:75px;"
                  src="https://www.mathieuweb.fr/calendrier/date-jour-bleu2.html"
                  scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                 </div>

        <div class="uk-width-auto">
          <img class="uk-border-circle" width="100" height="100" src="assets/images/loginn.png">
        </div>

        <form class="uk-form-stacked" >
          <legend class="uk-legend   uk-animation-slide-right    " i18n="@@templatesTitle35" >Enter </legend>
          <div class="uk-margin       uk-animation-slide-right">
            <mat-form-field class="example-full-width">
              <input matInput class="in"  type="email" placeholder="your email " name="email" i18n="@@templatesTitle36"  [(ngModel)]="email">
            </mat-form-field>
          </div>
          <div class="uk-margin     uk-animation-slide-left">
            <mat-form-field class="example-full-width">
            <input matInput  class="in"  type="password" placeholder="password" name="password" i18n="@@templatesTitle37"  [(ngModel)]="password"></mat-form-field>
          </div>   <div class="uk-margin       uk-animation-slide-top">
          <p id="error" style="color:red"></p>
          <div class="example-button-row">
            <button mat-flat-button color="primary"  class="btn1" i18n="@@templatesTitle33"   (click)="saveLogin()">Log In</button>
                <button mat-flat-button color="primary"  class="btn2" type="reset"  i18n="@@templatesTitle34" >Clean</button>
          </div>
        </div>
        </form>
      </div>
</div>
